header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 0 15px;
}
nav {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}




